.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1595px 1577px #fff, 661px 1785px #fff, 1683px 1678px #fff,
    1262px 675px #fff, 1775px 500px #fff, 1600px 58px #fff, 1795px 1650px #fff,
    1317px 224px #fff, 116px 236px #fff, 1586px 612px #fff, 532px 1639px #fff,
    188px 700px #fff, 1202px 1757px #fff, 1518px 1728px #fff, 475px 1351px #fff,
    1048px 140px #fff, 1804px 749px #fff, 291px 1378px #fff, 1053px 1314px #fff,
    1211px 345px #fff, 666px 1586px #fff, 1494px 1138px #fff, 1095px 1659px #fff,
    510px 1020px #fff, 988px 1980px #fff, 593px 352px #fff, 884px 910px #fff,
    1666px 1122px #fff, 555px 1385px #fff, 966px 1553px #fff, 1048px 873px #fff,
    935px 1210px #fff, 1807px 369px #fff, 536px 749px #fff, 612px 1329px #fff,
    330px 766px #fff, 836px 1284px #fff, 1126px 202px #fff, 217px 1579px #fff,
    578px 788px #fff, 1005px 1235px #fff, 1139px 1213px #fff, 1823px 1958px #fff,
    1880px 1257px #fff, 65px 210px #fff, 82px 1316px #fff, 1450px 846px #fff,
    625px 30px #fff, 1477px 104px #fff, 143px 1274px #fff, 1301px 20px #fff,
    1841px 1748px #fff, 1362px 1987px #fff, 865px 1325px #fff, 1335px 68px #fff,
    1118px 1505px #fff, 590px 1230px #fff, 854px 231px #fff, 906px 651px #fff,
    607px 305px #fff, 1253px 1832px #fff, 1151px 192px #fff, 322px 1241px #fff,
    1059px 485px #fff, 1881px 184px #fff, 1626px 376px #fff, 1147px 830px #fff,
    1688px 495px #fff, 1880px 606px #fff, 1686px 1232px #fff, 1065px 2000px #fff,
    656px 1660px #fff, 128px 793px #fff, 561px 810px #fff, 914px 571px #fff,
    1158px 1779px #fff, 401px 970px #fff, 603px 1543px #fff, 1451px 1882px #fff,
    1779px 85px #fff, 1610px 274px #fff, 1937px 1244px #fff, 615px 1525px #fff,
    218px 785px #fff, 742px 1506px #fff, 1755px 642px #fff, 812px 1151px #fff,
    1502px 1591px #fff, 485px 1215px #fff, 1835px 307px #fff, 1863px 548px #fff,
    795px 770px #fff, 1340px 990px #fff, 84px 1011px #fff, 291px 664px #fff,
    10px 496px #fff, 306px 310px #fff, 196px 1317px #fff, 1471px 616px #fff,
    570px 1924px #fff, 802px 756px #fff, 724px 297px #fff, 1937px 1278px #fff,
    1824px 486px #fff, 1956px 1666px #fff, 1721px 1706px #fff, 451px 1510px #fff,
    630px 1495px #fff, 1941px 1254px #fff, 92px 1144px #fff, 1049px 420px #fff,
    1269px 1741px #fff, 1200px 168px #fff, 651px 824px #fff, 1062px 677px #fff,
    906px 14px #fff, 1838px 1573px #fff, 498px 1772px #fff, 1312px 633px #fff,
    895px 813px #fff, 1220px 1750px #fff, 1789px 1145px #fff, 999px 90px #fff,
    1006px 306px #fff, 612px 676px #fff, 1698px 1442px #fff, 1546px 533px #fff,
    1254px 859px #fff, 529px 218px #fff, 422px 264px #fff, 1217px 1173px #fff,
    1782px 1296px #fff, 312px 525px #fff, 1178px 64px #fff, 1106px 315px #fff,
    1273px 1002px #fff, 1238px 228px #fff, 459px 20px #fff, 1872px 637px #fff,
    689px 1536px #fff, 264px 553px #fff, 235px 625px #fff, 963px 1390px #fff,
    1887px 1296px #fff, 473px 211px #fff, 1096px 739px #fff, 818px 1399px #fff,
    276px 39px #fff, 47px 1286px #fff, 527px 1691px #fff, 1941px 501px #fff,
    1591px 1445px #fff, 1980px 544px #fff, 30px 1555px #fff, 1313px 1296px #fff,
    1610px 1767px #fff, 1152px 88px #fff, 950px 958px #fff, 708px 536px #fff,
    213px 244px #fff, 1194px 450px #fff, 471px 99px #fff, 621px 1990px #fff,
    607px 1956px #fff, 43px 1707px #fff, 667px 119px #fff, 743px 1706px #fff,
    1526px 216px #fff, 1559px 937px #fff, 463px 1332px #fff, 1738px 1811px #fff,
    863px 702px #fff, 961px 166px #fff, 601px 538px #fff, 1166px 1504px #fff,
    358px 1455px #fff, 1256px 1284px #fff, 784px 1312px #fff, 892px 270px #fff,
    804px 1813px #fff, 890px 1260px #fff, 1900px 68px #fff, 1730px 1145px #fff,
    1762px 1351px #fff, 993px 1627px #fff, 1242px 220px #fff, 1740px 834px #fff,
    765px 1949px #fff, 1842px 1033px #fff, 702px 1283px #fff, 606px 1011px #fff,
    1701px 1684px #fff, 1952px 1902px #fff, 957px 1007px #fff, 831px 654px #fff,
    1089px 543px #fff, 916px 1305px #fff, 1807px 668px #fff, 232px 1773px #fff,
    267px 711px #fff, 1751px 87px #fff, 880px 1517px #fff, 215px 848px #fff,
    1005px 318px #fff, 194px 1622px #fff, 144px 660px #fff, 820px 58px #fff,
    48px 1188px #fff, 352px 1242px #fff, 99px 128px #fff, 318px 305px #fff,
    984px 1688px #fff, 1558px 135px #fff, 979px 1159px #fff, 1560px 1796px #fff,
    1209px 842px #fff, 46px 1009px #fff, 475px 426px #fff, 372px 872px #fff,
    888px 806px #fff, 50px 959px #fff, 158px 537px #fff, 331px 1234px #fff,
    1653px 769px #fff, 1498px 60px #fff, 1564px 1527px #fff, 335px 1355px #fff,
    130px 1936px #fff, 1268px 1988px #fff, 1813px 57px #fff, 1222px 994px #fff,
    1384px 547px #fff, 11px 1025px #fff, 1571px 1000px #fff, 902px 1665px #fff,
    262px 1520px #fff, 853px 1745px #fff, 1193px 308px #fff, 1731px 979px #fff,
    403px 1217px #fff, 776px 758px #fff, 1138px 411px #fff, 1699px 126px #fff,
    746px 819px #fff, 1533px 20px #fff, 1236px 484px #fff, 1294px 767px #fff,
    1455px 1963px #fff, 1374px 1766px #fff, 718px 594px #fff, 153px 1607px #fff,
    926px 1833px #fff, 550px 1862px #fff, 254px 1609px #fff, 1138px 1327px #fff,
    366px 901px #fff, 1608px 1459px #fff, 868px 982px #fff, 326px 430px #fff,
    155px 1223px #fff, 1559px 696px #fff, 1438px 73px #fff, 117px 74px #fff,
    1549px 1334px #fff, 1725px 1435px #fff, 1535px 1992px #fff,
    1345px 319px #fff, 1040px 1946px #fff, 506px 489px #fff, 1017px 870px #fff,
    1200px 719px #fff, 497px 1228px #fff, 1759px 1040px #fff, 1325px 208px #fff,
    1299px 1750px #fff, 1202px 327px #fff, 807px 235px #fff, 110px 914px #fff,
    1667px 1548px #fff, 1108px 328px #fff, 1469px 1139px #fff,
    1309px 1629px #fff, 711px 1271px #fff, 1426px 667px #fff, 1386px 967px #fff,
    1190px 1711px #fff, 1923px 514px #fff, 1136px 194px #fff, 1639px 1436px #fff,
    946px 1441px #fff, 288px 932px #fff, 714px 1201px #fff, 1228px 1705px #fff,
    1764px 905px #fff, 913px 1657px #fff, 597px 1100px #fff, 114px 106px #fff,
    1735px 1735px #fff, 1442px 1684px #fff, 507px 171px #fff, 1855px 266px #fff,
    951px 1678px #fff, 747px 164px #fff, 71px 147px #fff, 1821px 1848px #fff,
    852px 487px #fff, 128px 501px #fff, 618px 687px #fff, 21px 1660px #fff,
    1675px 962px #fff, 479px 1416px #fff, 827px 656px #fff, 150px 716px #fff,
    1731px 1322px #fff, 492px 1421px #fff, 928px 1152px #fff, 221px 341px #fff,
    1339px 1447px #fff, 1627px 348px #fff, 504px 542px #fff, 879px 1018px #fff,
    1337px 104px #fff, 384px 1119px #fff, 672px 1792px #fff, 1531px 401px #fff,
    1566px 396px #fff, 1840px 1980px #fff, 594px 997px #fff, 507px 841px #fff,
    408px 1692px #fff, 441px 1596px #fff, 104px 869px #fff, 1736px 1446px #fff,
    1054px 905px #fff, 793px 1938px #fff, 1948px 837px #fff, 1080px 980px #fff,
    467px 1323px #fff, 1359px 1154px #fff, 1159px 1233px #fff, 967px 635px #fff,
    469px 1204px #fff, 1689px 814px #fff, 1119px 54px #fff, 1988px 993px #fff,
    1979px 1520px #fff, 1403px 46px #fff, 1862px 1777px #fff, 854px 1931px #fff,
    1165px 1073px #fff, 1066px 856px #fff, 982px 1486px #fff, 492px 1124px #fff,
    295px 557px #fff, 714px 1226px #fff, 59px 1149px #fff, 715px 904px #fff,
    1132px 1867px #fff, 1338px 205px #fff, 1298px 1291px #fff, 242px 1759px #fff,
    1805px 1816px #fff, 691px 1419px #fff, 1282px 1098px #fff, 1541px 547px #fff,
    1794px 976px #fff, 1918px 1789px #fff, 417px 695px #fff, 623px 1492px #fff,
    845px 375px #fff, 1389px 1592px #fff, 1144px 1564px #fff, 1012px 1508px #fff,
    1697px 1123px #fff, 124px 989px #fff, 325px 1781px #fff, 868px 429px #fff,
    960px 621px #fff, 1137px 1976px #fff, 1904px 535px #fff, 61px 578px #fff,
    1776px 1206px #fff, 911px 135px #fff, 898px 620px #fff, 564px 1145px #fff,
    987px 1632px #fff, 1545px 705px #fff, 1097px 1788px #fff, 232px 1953px #fff,
    1778px 1394px #fff, 1842px 477px #fff, 748px 728px #fff, 1445px 1542px #fff,
    1364px 938px #fff, 1277px 908px #fff, 515px 264px #fff, 1827px 1606px #fff,
    1605px 513px #fff, 176px 974px #fff, 822px 1831px #fff, 1797px 659px #fff,
    776px 1656px #fff, 1037px 706px #fff, 257px 1404px #fff, 1550px 682px #fff,
    589px 1045px #fff, 1133px 311px #fff, 1687px 534px #fff, 1839px 606px #fff,
    1228px 240px #fff, 1719px 139px #fff, 330px 106px #fff, 173px 1493px #fff,
    478px 572px #fff, 1999px 699px #fff, 274px 962px #fff, 292px 252px #fff,
    1260px 264px #fff, 1488px 204px #fff, 27px 984px #fff, 1254px 1422px #fff,
    1324px 192px #fff, 1859px 912px #fff, 749px 1779px #fff, 1162px 279px #fff,
    181px 678px #fff, 1234px 950px #fff, 826px 768px #fff, 356px 923px #fff,
    290px 365px #fff, 104px 464px #fff, 450px 493px #fff, 1990px 818px #fff,
    1172px 811px #fff, 744px 1110px #fff, 606px 1748px #fff, 1637px 1503px #fff,
    1398px 644px #fff, 930px 824px #fff, 396px 1607px #fff, 1861px 1787px #fff,
    746px 1528px #fff, 503px 366px #fff, 1596px 1791px #fff, 808px 207px #fff,
    1782px 9px #fff, 990px 542px #fff, 755px 1575px #fff, 1838px 196px #fff,
    194px 953px #fff, 5px 335px #fff, 188px 121px #fff, 891px 396px #fff,
    189px 1543px #fff, 1239px 106px #fff, 1406px 565px #fff, 303px 636px #fff,
    365px 1211px #fff, 462px 1930px #fff, 1037px 1596px #fff, 37px 887px #fff,
    21px 404px #fff, 109px 1405px #fff, 1308px 494px #fff, 487px 1497px #fff,
    1012px 977px #fff, 1417px 1424px #fff, 1179px 1518px #fff, 188px 640px #fff,
    892px 196px #fff, 411px 708px #fff, 897px 272px #fff, 348px 981px #fff,
    1071px 1556px #fff, 982px 1730px #fff, 1689px 2000px #fff, 98px 42px #fff,
    285px 1980px #fff, 1356px 1970px #fff, 1542px 1563px #fff,
    1891px 1703px #fff, 1306px 1515px #fff, 1707px 1910px #fff, 132px 655px #fff,
    1424px 506px #fff, 891px 431px #fff, 849px 1512px #fff, 1137px 137px #fff,
    354px 1931px #fff, 1948px 526px #fff, 804px 90px #fff, 1823px 1997px #fff,
    1593px 1952px #fff, 177px 1413px #fff, 82px 31px #fff, 1078px 1852px #fff,
    873px 878px #fff, 1435px 1613px #fff, 872px 523px #fff, 1959px 761px #fff,
    1631px 415px #fff, 1797px 914px #fff, 1534px 276px #fff, 1990px 1546px #fff,
    1699px 981px #fff, 1372px 837px #fff, 8px 815px #fff, 1543px 1871px #fff,
    287px 854px #fff, 449px 312px #fff, 982px 1005px #fff, 977px 1083px #fff,
    1727px 1005px #fff, 980px 1964px #fff, 1277px 1594px #fff,
    1898px 1957px #fff, 227px 295px #fff, 94px 25px #fff, 1073px 770px #fff,
    814px 1971px #fff, 618px 565px #fff, 782px 1753px #fff, 966px 257px #fff,
    1313px 1697px #fff, 970px 1857px #fff, 496px 1836px #fff, 278px 1540px #fff,
    714px 303px #fff, 956px 1341px #fff, 623px 465px #fff, 878px 1939px #fff,
    1177px 1293px #fff, 551px 1217px #fff, 476px 1970px #fff, 904px 1610px #fff,
    293px 1447px #fff, 692px 1857px #fff, 1933px 884px #fff, 1786px 1490px #fff,
    567px 1768px #fff, 1075px 1062px #fff, 455px 792px #fff, 1129px 558px #fff,
    1052px 385px #fff, 1999px 1508px #fff, 1206px 1703px #fff, 416px 901px #fff,
    719px 1650px #fff, 572px 1815px #fff, 1686px 274px #fff, 14px 1436px #fff,
    1861px 1638px #fff, 1415px 1917px #fff, 1330px 565px #fff, 133px 701px #fff,
    218px 359px #fff, 878px 50px #fff, 1476px 1609px #fff, 104px 1155px #fff,
    1663px 367px #fff, 538px 137px #fff, 410px 1659px #fff, 1203px 10px #fff,
    812px 596px #fff, 206px 134px #fff, 983px 1730px #fff, 1174px 551px #fff,
    811px 1491px #fff, 999px 13px #fff, 1974px 539px #fff, 1583px 474px #fff,
    1725px 1102px #fff, 188px 1948px #fff, 355px 1002px #fff, 1895px 897px #fff,
    636px 1296px #fff, 392px 1198px #fff, 638px 448px #fff, 1326px 877px #fff,
    1595px 1723px #fff, 1221px 713px #fff, 358px 1705px #fff, 1127px 323px #fff,
    1000px 203px #fff, 773px 1574px #fff, 258px 47px #fff, 1209px 834px #fff,
    584px 1840px #fff, 1455px 1447px #fff, 811px 1717px #fff, 109px 3px #fff,
    1815px 480px #fff, 1355px 944px #fff, 349px 1589px #fff, 1775px 219px #fff,
    479px 593px #fff, 1775px 652px #fff, 1200px 1466px #fff, 1134px 935px #fff,
    155px 135px #fff, 368px 1077px #fff, 1781px 70px #fff, 166px 1070px #fff,
    1465px 419px #fff, 1689px 1293px #fff, 895px 1892px #fff, 521px 1030px #fff,
    681px 1887px #fff, 575px 865px #fff, 1993px 1618px #fff, 1810px 10px #fff,
    1908px 983px #fff, 1537px 1650px #fff, 51px 1024px #fff, 1832px 511px #fff,
    983px 1311px #fff, 474px 1640px #fff, 1306px 1654px #fff, 128px 247px #fff,
    1255px 18px #fff, 912px 860px #fff, 1915px 1762px #fff, 85px 1524px #fff,
    1008px 87px #fff, 67px 1355px #fff, 1311px 679px #fff, 1436px 391px #fff,
    1508px 1834px #fff, 1435px 749px #fff, 804px 189px #fff, 650px 1862px #fff,
    1888px 50px #fff, 109px 159px #fff, 464px 348px #fff, 1024px 1363px #fff,
    1666px 799px #fff, 673px 337px #fff, 986px 1632px #fff, 85px 824px #fff,
    1508px 45px #fff, 448px 1392px #fff, 1211px 1064px #fff, 1166px 829px #fff,
    910px 860px #fff, 719px 525px #fff, 593px 1157px #fff, 523px 1736px #fff,
    1353px 1060px #fff, 423px 842px #fff, 1244px 1014px #fff, 93px 1332px #fff,
    695px 180px #fff, 1268px 1356px #fff, 1147px 872px #fff, 937px 51px #fff,
    1646px 916px #fff, 164px 1217px #fff, 1894px 1650px #fff, 865px 820px #fff,
    1044px 384px #fff, 693px 825px #fff, 511px 441px #fff, 1169px 694px #fff,
    776px 254px #fff, 377px 1499px #fff, 1603px 716px #fff, 1841px 750px #fff,
    830px 1489px #fff, 657px 729px #fff, 2px 1883px #fff, 349px 1561px #fff,
    1000px 361px #fff, 1868px 236px #fff, 393px 1795px #fff, 966px 1063px #fff,
    617px 1428px #fff, 1221px 253px #fff, 1530px 1874px #fff, 1887px 70px #fff,
    350px 1818px #fff, 1793px 1477px #fff, 1141px 736px #fff, 1066px 1306px #fff,
    1083px 1352px #fff, 1645px 667px #fff, 1155px 173px #fff, 329px 1891px #fff,
    278px 727px #fff, 1733px 1739px #fff, 1957px 124px #fff, 426px 212px #fff,
    69px 7px #fff, 861px 1944px #fff, 1554px 601px #fff, 468px 474px #fff,
    802px 1441px #fff, 1082px 1552px #fff, 676px 882px #fff, 1392px 1854px #fff,
    1462px 1118px #fff;
  animation: animStar 50s linear infinite;
}
.stars:after {
  content: " ";
  position: absolute;
  top: 400px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1595px 1577px #fff, 661px 1785px #fff, 1683px 1678px #fff,
    1262px 675px #fff, 1775px 500px #fff, 1600px 58px #fff, 1795px 1650px #fff,
    1317px 224px #fff, 116px 236px #fff, 1586px 612px #fff, 532px 1639px #fff,
    188px 700px #fff, 1202px 1757px #fff, 1518px 1728px #fff, 475px 1351px #fff,
    1048px 140px #fff, 1804px 749px #fff, 291px 1378px #fff, 1053px 1314px #fff,
    1211px 345px #fff, 666px 1586px #fff, 1494px 1138px #fff, 1095px 1659px #fff,
    510px 1020px #fff, 988px 1980px #fff, 593px 352px #fff, 884px 910px #fff,
    1666px 1122px #fff, 555px 1385px #fff, 966px 1553px #fff, 1048px 873px #fff,
    935px 1210px #fff, 1807px 369px #fff, 536px 749px #fff, 612px 1329px #fff,
    330px 766px #fff, 836px 1284px #fff, 1126px 202px #fff, 217px 1579px #fff,
    578px 788px #fff, 1005px 1235px #fff, 1139px 1213px #fff, 1823px 1958px #fff,
    1880px 1257px #fff, 65px 210px #fff, 82px 1316px #fff, 1450px 846px #fff,
    625px 30px #fff, 1477px 104px #fff, 143px 1274px #fff, 1301px 20px #fff,
    1841px 1748px #fff, 1362px 1987px #fff, 865px 1325px #fff, 1335px 68px #fff,
    1118px 1505px #fff, 590px 1230px #fff, 854px 231px #fff, 906px 651px #fff,
    607px 305px #fff, 1253px 1832px #fff, 1151px 192px #fff, 322px 1241px #fff,
    1059px 485px #fff, 1881px 184px #fff, 1626px 376px #fff, 1147px 830px #fff,
    1688px 495px #fff, 1880px 606px #fff, 1686px 1232px #fff, 1065px 2000px #fff,
    656px 1660px #fff, 128px 793px #fff, 561px 810px #fff, 914px 571px #fff,
    1158px 1779px #fff, 401px 970px #fff, 603px 1543px #fff, 1451px 1882px #fff,
    1779px 85px #fff, 1610px 274px #fff, 1937px 1244px #fff, 615px 1525px #fff,
    218px 785px #fff, 742px 1506px #fff, 1755px 642px #fff, 812px 1151px #fff,
    1502px 1591px #fff, 485px 1215px #fff, 1835px 307px #fff, 1863px 548px #fff,
    795px 770px #fff, 1340px 990px #fff, 84px 1011px #fff, 291px 664px #fff,
    10px 496px #fff, 306px 310px #fff, 196px 1317px #fff, 1471px 616px #fff,
    570px 1924px #fff, 802px 756px #fff, 724px 297px #fff, 1937px 1278px #fff,
    1824px 486px #fff, 1956px 1666px #fff, 1721px 1706px #fff, 451px 1510px #fff,
    630px 1495px #fff, 1941px 1254px #fff, 92px 1144px #fff, 1049px 420px #fff,
    1269px 1741px #fff, 1200px 168px #fff, 651px 824px #fff, 1062px 677px #fff,
    906px 14px #fff, 1838px 1573px #fff, 498px 1772px #fff, 1312px 633px #fff,
    895px 813px #fff, 1220px 1750px #fff, 1789px 1145px #fff, 999px 90px #fff,
    1006px 306px #fff, 612px 676px #fff, 1698px 1442px #fff, 1546px 533px #fff,
    1254px 859px #fff, 529px 218px #fff, 422px 264px #fff, 1217px 1173px #fff,
    1782px 1296px #fff, 312px 525px #fff, 1178px 64px #fff, 1106px 315px #fff,
    1273px 1002px #fff, 1238px 228px #fff, 459px 20px #fff, 1872px 637px #fff,
    689px 1536px #fff, 264px 553px #fff, 235px 625px #fff, 963px 1390px #fff,
    1887px 1296px #fff, 473px 211px #fff, 1096px 739px #fff, 818px 1399px #fff,
    276px 39px #fff, 47px 1286px #fff, 527px 1691px #fff, 1941px 501px #fff,
    1591px 1445px #fff, 1980px 544px #fff, 30px 1555px #fff, 1313px 1296px #fff,
    1610px 1767px #fff, 1152px 88px #fff, 950px 958px #fff, 708px 536px #fff,
    213px 244px #fff, 1194px 450px #fff, 471px 99px #fff, 621px 1990px #fff,
    607px 1956px #fff, 43px 1707px #fff, 667px 119px #fff, 743px 1706px #fff,
    1526px 216px #fff, 1559px 937px #fff, 463px 1332px #fff, 1738px 1811px #fff,
    863px 702px #fff, 961px 166px #fff, 601px 538px #fff, 1166px 1504px #fff,
    358px 1455px #fff, 1256px 1284px #fff, 784px 1312px #fff, 892px 270px #fff,
    804px 1813px #fff, 890px 1260px #fff, 1900px 68px #fff, 1730px 1145px #fff,
    1762px 1351px #fff, 993px 1627px #fff, 1242px 220px #fff, 1740px 834px #fff,
    765px 1949px #fff, 1842px 1033px #fff, 702px 1283px #fff, 606px 1011px #fff,
    1701px 1684px #fff, 1952px 1902px #fff, 957px 1007px #fff, 831px 654px #fff,
    1089px 543px #fff, 916px 1305px #fff, 1807px 668px #fff, 232px 1773px #fff,
    267px 711px #fff, 1751px 87px #fff, 880px 1517px #fff, 215px 848px #fff,
    1005px 318px #fff, 194px 1622px #fff, 144px 660px #fff, 820px 58px #fff,
    48px 1188px #fff, 352px 1242px #fff, 99px 128px #fff, 318px 305px #fff,
    984px 1688px #fff, 1558px 135px #fff, 979px 1159px #fff, 1560px 1796px #fff,
    1209px 842px #fff, 46px 1009px #fff, 475px 426px #fff, 372px 872px #fff,
    888px 806px #fff, 50px 959px #fff, 158px 537px #fff, 331px 1234px #fff,
    1653px 769px #fff, 1498px 60px #fff, 1564px 1527px #fff, 335px 1355px #fff,
    130px 1936px #fff, 1268px 1988px #fff, 1813px 57px #fff, 1222px 994px #fff,
    1384px 547px #fff, 11px 1025px #fff, 1571px 1000px #fff, 902px 1665px #fff,
    262px 1520px #fff, 853px 1745px #fff, 1193px 308px #fff, 1731px 979px #fff,
    403px 1217px #fff, 776px 758px #fff, 1138px 411px #fff, 1699px 126px #fff,
    746px 819px #fff, 1533px 20px #fff, 1236px 484px #fff, 1294px 767px #fff,
    1455px 1963px #fff, 1374px 1766px #fff, 718px 594px #fff, 153px 1607px #fff,
    926px 1833px #fff, 550px 1862px #fff, 254px 1609px #fff, 1138px 1327px #fff,
    366px 901px #fff, 1608px 1459px #fff, 868px 982px #fff, 326px 430px #fff,
    155px 1223px #fff, 1559px 696px #fff, 1438px 73px #fff, 117px 74px #fff,
    1549px 1334px #fff, 1725px 1435px #fff, 1535px 1992px #fff,
    1345px 319px #fff, 1040px 1946px #fff, 506px 489px #fff, 1017px 870px #fff,
    1200px 719px #fff, 497px 1228px #fff, 1759px 1040px #fff, 1325px 208px #fff,
    1299px 1750px #fff, 1202px 327px #fff, 807px 235px #fff, 110px 914px #fff,
    1667px 1548px #fff, 1108px 328px #fff, 1469px 1139px #fff,
    1309px 1629px #fff, 711px 1271px #fff, 1426px 667px #fff, 1386px 967px #fff,
    1190px 1711px #fff, 1923px 514px #fff, 1136px 194px #fff, 1639px 1436px #fff,
    946px 1441px #fff, 288px 932px #fff, 714px 1201px #fff, 1228px 1705px #fff,
    1764px 905px #fff, 913px 1657px #fff, 597px 1100px #fff, 114px 106px #fff,
    1735px 1735px #fff, 1442px 1684px #fff, 507px 171px #fff, 1855px 266px #fff,
    951px 1678px #fff, 747px 164px #fff, 71px 147px #fff, 1821px 1848px #fff,
    852px 487px #fff, 128px 501px #fff, 618px 687px #fff, 21px 1660px #fff,
    1675px 962px #fff, 479px 1416px #fff, 827px 656px #fff, 150px 716px #fff,
    1731px 1322px #fff, 492px 1421px #fff, 928px 1152px #fff, 221px 341px #fff,
    1339px 1447px #fff, 1627px 348px #fff, 504px 542px #fff, 879px 1018px #fff,
    1337px 104px #fff, 384px 1119px #fff, 672px 1792px #fff, 1531px 401px #fff,
    1566px 396px #fff, 1840px 1980px #fff, 594px 997px #fff, 507px 841px #fff,
    408px 1692px #fff, 441px 1596px #fff, 104px 869px #fff, 1736px 1446px #fff,
    1054px 905px #fff, 793px 1938px #fff, 1948px 837px #fff, 1080px 980px #fff,
    467px 1323px #fff, 1359px 1154px #fff, 1159px 1233px #fff, 967px 635px #fff,
    469px 1204px #fff, 1689px 814px #fff, 1119px 54px #fff, 1988px 993px #fff,
    1979px 1520px #fff, 1403px 46px #fff, 1862px 1777px #fff, 854px 1931px #fff,
    1165px 1073px #fff, 1066px 856px #fff, 982px 1486px #fff, 492px 1124px #fff,
    295px 557px #fff, 714px 1226px #fff, 59px 1149px #fff, 715px 904px #fff,
    1132px 1867px #fff, 1338px 205px #fff, 1298px 1291px #fff, 242px 1759px #fff,
    1805px 1816px #fff, 691px 1419px #fff, 1282px 1098px #fff, 1541px 547px #fff,
    1794px 976px #fff, 1918px 1789px #fff, 417px 695px #fff, 623px 1492px #fff,
    845px 375px #fff, 1389px 1592px #fff, 1144px 1564px #fff, 1012px 1508px #fff,
    1697px 1123px #fff, 124px 989px #fff, 325px 1781px #fff, 868px 429px #fff,
    960px 621px #fff, 1137px 1976px #fff, 1904px 535px #fff, 61px 578px #fff,
    1776px 1206px #fff, 911px 135px #fff, 898px 620px #fff, 564px 1145px #fff,
    987px 1632px #fff, 1545px 705px #fff, 1097px 1788px #fff, 232px 1953px #fff,
    1778px 1394px #fff, 1842px 477px #fff, 748px 728px #fff, 1445px 1542px #fff,
    1364px 938px #fff, 1277px 908px #fff, 515px 264px #fff, 1827px 1606px #fff,
    1605px 513px #fff, 176px 974px #fff, 822px 1831px #fff, 1797px 659px #fff,
    776px 1656px #fff, 1037px 706px #fff, 257px 1404px #fff, 1550px 682px #fff,
    589px 1045px #fff, 1133px 311px #fff, 1687px 534px #fff, 1839px 606px #fff,
    1228px 240px #fff, 1719px 139px #fff, 330px 106px #fff, 173px 1493px #fff,
    478px 572px #fff, 1999px 699px #fff, 274px 962px #fff, 292px 252px #fff,
    1260px 264px #fff, 1488px 204px #fff, 27px 984px #fff, 1254px 1422px #fff,
    1324px 192px #fff, 1859px 912px #fff, 749px 1779px #fff, 1162px 279px #fff,
    181px 678px #fff, 1234px 950px #fff, 826px 768px #fff, 356px 923px #fff,
    290px 365px #fff, 104px 464px #fff, 450px 493px #fff, 1990px 818px #fff,
    1172px 811px #fff, 744px 1110px #fff, 606px 1748px #fff, 1637px 1503px #fff,
    1398px 644px #fff, 930px 824px #fff, 396px 1607px #fff, 1861px 1787px #fff,
    746px 1528px #fff, 503px 366px #fff, 1596px 1791px #fff, 808px 207px #fff,
    1782px 9px #fff, 990px 542px #fff, 755px 1575px #fff, 1838px 196px #fff,
    194px 953px #fff, 5px 335px #fff, 188px 121px #fff, 891px 396px #fff,
    189px 1543px #fff, 1239px 106px #fff, 1406px 565px #fff, 303px 636px #fff,
    365px 1211px #fff, 462px 1930px #fff, 1037px 1596px #fff, 37px 887px #fff,
    21px 404px #fff, 109px 1405px #fff, 1308px 494px #fff, 487px 1497px #fff,
    1012px 977px #fff, 1417px 1424px #fff, 1179px 1518px #fff, 188px 640px #fff,
    892px 196px #fff, 411px 708px #fff, 897px 272px #fff, 348px 981px #fff,
    1071px 1556px #fff, 982px 1730px #fff, 1689px 2000px #fff, 98px 42px #fff,
    285px 1980px #fff, 1356px 1970px #fff, 1542px 1563px #fff,
    1891px 1703px #fff, 1306px 1515px #fff, 1707px 1910px #fff, 132px 655px #fff,
    1424px 506px #fff, 891px 431px #fff, 849px 1512px #fff, 1137px 137px #fff,
    354px 1931px #fff, 1948px 526px #fff, 804px 90px #fff, 1823px 1997px #fff,
    1593px 1952px #fff, 177px 1413px #fff, 82px 31px #fff, 1078px 1852px #fff,
    873px 878px #fff, 1435px 1613px #fff, 872px 523px #fff, 1959px 761px #fff,
    1631px 415px #fff, 1797px 914px #fff, 1534px 276px #fff, 1990px 1546px #fff,
    1699px 981px #fff, 1372px 837px #fff, 8px 815px #fff, 1543px 1871px #fff,
    287px 854px #fff, 449px 312px #fff, 982px 1005px #fff, 977px 1083px #fff,
    1727px 1005px #fff, 980px 1964px #fff, 1277px 1594px #fff,
    1898px 1957px #fff, 227px 295px #fff, 94px 25px #fff, 1073px 770px #fff,
    814px 1971px #fff, 618px 565px #fff, 782px 1753px #fff, 966px 257px #fff,
    1313px 1697px #fff, 970px 1857px #fff, 496px 1836px #fff, 278px 1540px #fff,
    714px 303px #fff, 956px 1341px #fff, 623px 465px #fff, 878px 1939px #fff,
    1177px 1293px #fff, 551px 1217px #fff, 476px 1970px #fff, 904px 1610px #fff,
    293px 1447px #fff, 692px 1857px #fff, 1933px 884px #fff, 1786px 1490px #fff,
    567px 1768px #fff, 1075px 1062px #fff, 455px 792px #fff, 1129px 558px #fff,
    1052px 385px #fff, 1999px 1508px #fff, 1206px 1703px #fff, 416px 901px #fff,
    719px 1650px #fff, 572px 1815px #fff, 1686px 274px #fff, 14px 1436px #fff,
    1861px 1638px #fff, 1415px 1917px #fff, 1330px 565px #fff, 133px 701px #fff,
    218px 359px #fff, 878px 50px #fff, 1476px 1609px #fff, 104px 1155px #fff,
    1663px 367px #fff, 538px 137px #fff, 410px 1659px #fff, 1203px 10px #fff,
    812px 596px #fff, 206px 134px #fff, 983px 1730px #fff, 1174px 551px #fff,
    811px 1491px #fff, 999px 13px #fff, 1974px 539px #fff, 1583px 474px #fff,
    1725px 1102px #fff, 188px 1948px #fff, 355px 1002px #fff, 1895px 897px #fff,
    636px 1296px #fff, 392px 1198px #fff, 638px 448px #fff, 1326px 877px #fff,
    1595px 1723px #fff, 1221px 713px #fff, 358px 1705px #fff, 1127px 323px #fff,
    1000px 203px #fff, 773px 1574px #fff, 258px 47px #fff, 1209px 834px #fff,
    584px 1840px #fff, 1455px 1447px #fff, 811px 1717px #fff, 109px 3px #fff,
    1815px 480px #fff, 1355px 944px #fff, 349px 1589px #fff, 1775px 219px #fff,
    479px 593px #fff, 1775px 652px #fff, 1200px 1466px #fff, 1134px 935px #fff,
    155px 135px #fff, 368px 1077px #fff, 1781px 70px #fff, 166px 1070px #fff,
    1465px 419px #fff, 1689px 1293px #fff, 895px 1892px #fff, 521px 1030px #fff,
    681px 1887px #fff, 575px 865px #fff, 1993px 1618px #fff, 1810px 10px #fff,
    1908px 983px #fff, 1537px 1650px #fff, 51px 1024px #fff, 1832px 511px #fff,
    983px 1311px #fff, 474px 1640px #fff, 1306px 1654px #fff, 128px 247px #fff,
    1255px 18px #fff, 912px 860px #fff, 1915px 1762px #fff, 85px 1524px #fff,
    1008px 87px #fff, 67px 1355px #fff, 1311px 679px #fff, 1436px 391px #fff,
    1508px 1834px #fff, 1435px 749px #fff, 804px 189px #fff, 650px 1862px #fff,
    1888px 50px #fff, 109px 159px #fff, 464px 348px #fff, 1024px 1363px #fff,
    1666px 799px #fff, 673px 337px #fff, 986px 1632px #fff, 85px 824px #fff,
    1508px 45px #fff, 448px 1392px #fff, 1211px 1064px #fff, 1166px 829px #fff,
    910px 860px #fff, 719px 525px #fff, 593px 1157px #fff, 523px 1736px #fff,
    1353px 1060px #fff, 423px 842px #fff, 1244px 1014px #fff, 93px 1332px #fff,
    695px 180px #fff, 1268px 1356px #fff, 1147px 872px #fff, 937px 51px #fff,
    1646px 916px #fff, 164px 1217px #fff, 1894px 1650px #fff, 865px 820px #fff,
    1044px 384px #fff, 693px 825px #fff, 511px 441px #fff, 1169px 694px #fff,
    776px 254px #fff, 377px 1499px #fff, 1603px 716px #fff, 1841px 750px #fff,
    830px 1489px #fff, 657px 729px #fff, 2px 1883px #fff, 349px 1561px #fff,
    1000px 361px #fff, 1868px 236px #fff, 393px 1795px #fff, 966px 1063px #fff,
    617px 1428px #fff, 1221px 253px #fff, 1530px 1874px #fff, 1887px 70px #fff,
    350px 1818px #fff, 1793px 1477px #fff, 1141px 736px #fff, 1066px 1306px #fff,
    1083px 1352px #fff, 1645px 667px #fff, 1155px 173px #fff, 329px 1891px #fff,
    278px 727px #fff, 1733px 1739px #fff, 1957px 124px #fff, 426px 212px #fff,
    69px 7px #fff, 861px 1944px #fff, 1554px 601px #fff, 468px 474px #fff,
    802px 1441px #fff, 1082px 1552px #fff, 676px 882px #fff, 1392px 1854px #fff,
    1462px 1118px #fff;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 711px 506px #fff, 1163px 722px #fff, 1095px 424px #fff,
    625px 1050px #fff, 481px 548px #fff, 656px 1791px #fff, 197px 667px #fff,
    566px 1482px #fff, 1506px 504px #fff, 296px 1780px #fff, 1519px 1455px #fff,
    783px 853px #fff, 1175px 526px #fff, 379px 940px #fff, 934px 1257px #fff,
    1118px 141px #fff, 1716px 802px #fff, 1725px 1087px #fff, 112px 1587px #fff,
    1921px 1325px #fff, 1266px 312px #fff, 418px 1272px #fff, 1197px 17px #fff,
    387px 710px #fff, 501px 61px #fff, 71px 1348px #fff, 1913px 379px #fff,
    1668px 1072px #fff, 1081px 1372px #fff, 886px 763px #fff, 940px 1810px #fff,
    30px 1117px #fff, 1762px 1469px #fff, 854px 825px #fff, 172px 1391px #fff,
    904px 518px #fff, 1755px 1119px #fff, 1885px 1740px #fff, 1767px 99px #fff,
    1629px 526px #fff, 856px 740px #fff, 1377px 1651px #fff, 1546px 1144px #fff,
    1379px 1093px #fff, 1466px 1871px #fff, 1675px 327px #fff, 1407px 195px #fff,
    1579px 562px #fff, 1592px 151px #fff, 1949px 1319px #fff, 1765px 1717px #fff,
    506px 1159px #fff, 128px 1183px #fff, 165px 1212px #fff, 1397px 1359px #fff,
    738px 1817px #fff, 1213px 870px #fff, 22px 240px #fff, 951px 745px #fff,
    785px 121px #fff, 185px 1094px #fff, 87px 297px #fff, 450px 276px #fff,
    944px 239px #fff, 1919px 1165px #fff, 1614px 220px #fff, 504px 1364px #fff,
    1702px 1772px #fff, 1451px 161px #fff, 1587px 707px #fff, 392px 1158px #fff,
    1914px 1564px #fff, 511px 1806px #fff, 1733px 1346px #fff,
    1529px 1018px #fff, 723px 185px #fff, 996px 1840px #fff, 1428px 309px #fff,
    1092px 69px #fff, 531px 371px #fff, 188px 73px #fff, 1760px 1436px #fff,
    346px 1140px #fff, 255px 605px #fff, 110px 1114px #fff, 1482px 99px #fff,
    537px 377px #fff, 588px 193px #fff, 965px 1520px #fff, 1168px 616px #fff,
    183px 1685px #fff, 350px 955px #fff, 1153px 1721px #fff, 1269px 463px #fff,
    147px 1399px #fff, 1206px 835px #fff, 1861px 562px #fff, 575px 432px #fff,
    143px 10px #fff, 1700px 1147px #fff, 633px 1361px #fff, 263px 1740px #fff,
    848px 1318px #fff, 69px 1970px #fff, 608px 1290px #fff, 533px 487px #fff,
    1608px 1781px #fff, 171px 67px #fff, 1322px 1278px #fff, 231px 845px #fff,
    1823px 1731px #fff, 1264px 409px #fff, 1521px 1886px #fff, 663px 728px #fff,
    1328px 518px #fff, 1624px 431px #fff, 1029px 505px #fff, 330px 1051px #fff,
    1354px 1760px #fff, 1507px 1607px #fff, 352px 945px #fff, 1593px 1732px #fff,
    488px 1839px #fff, 1536px 1694px #fff, 905px 1334px #fff, 28px 1014px #fff,
    1549px 828px #fff, 458px 1475px #fff, 30px 77px #fff, 1096px 1251px #fff,
    1452px 1300px #fff, 1323px 304px #fff, 1867px 716px #fff, 760px 1418px #fff,
    1945px 1652px #fff, 269px 449px #fff, 1253px 1703px #fff, 187px 774px #fff,
    145px 370px #fff, 1793px 958px #fff, 777px 139px #fff, 435px 1198px #fff,
    1077px 1764px #fff, 1886px 171px #fff, 813px 1256px #fff, 254px 190px #fff,
    18px 751px #fff, 812px 1052px #fff, 1010px 71px #fff, 966px 1129px #fff,
    26px 229px #fff, 1560px 9px #fff, 1314px 336px #fff, 1183px 628px #fff,
    1508px 1337px #fff, 941px 1930px #fff, 1587px 592px #fff, 1706px 719px #fff,
    1726px 1913px #fff, 489px 1201px #fff, 1497px 1113px #fff, 1334px 112px #fff,
    733px 1116px #fff, 923px 623px #fff, 1553px 828px #fff, 582px 1550px #fff,
    949px 1938px #fff, 448px 500px #fff, 679px 372px #fff, 477px 319px #fff,
    1233px 233px #fff, 128px 793px #fff, 1525px 1995px #fff, 516px 1885px #fff,
    1522px 1836px #fff, 735px 96px #fff, 117px 1941px #fff, 1431px 1556px #fff,
    1959px 999px #fff, 1054px 992px #fff, 1673px 1166px #fff, 343px 1556px #fff,
    656px 500px #fff, 908px 449px #fff, 1713px 1179px #fff, 1163px 593px #fff,
    254px 1401px #fff, 1357px 1244px #fff, 1953px 1526px #fff, 546px 503px #fff,
    315px 1330px #fff, 1629px 598px #fff, 1743px 1335px #fff, 788px 1040px #fff,
    135px 873px #fff, 774px 1646px #fff, 596px 272px #fff, 604px 1820px #fff,
    372px 787px #fff, 1930px 1639px #fff;
  animation: animStar 100s linear infinite;
}
.stars2:after {
  content: " ";
  position: absolute;
  top: 400px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 711px 506px #fff, 1163px 722px #fff, 1095px 424px #fff,
    625px 1050px #fff, 481px 548px #fff, 656px 1791px #fff, 197px 667px #fff,
    566px 1482px #fff, 1506px 504px #fff, 296px 1780px #fff, 1519px 1455px #fff,
    783px 853px #fff, 1175px 526px #fff, 379px 940px #fff, 934px 1257px #fff,
    1118px 141px #fff, 1716px 802px #fff, 1725px 1087px #fff, 112px 1587px #fff,
    1921px 1325px #fff, 1266px 312px #fff, 418px 1272px #fff, 1197px 17px #fff,
    387px 710px #fff, 501px 61px #fff, 71px 1348px #fff, 1913px 379px #fff,
    1668px 1072px #fff, 1081px 1372px #fff, 886px 763px #fff, 940px 1810px #fff,
    30px 1117px #fff, 1762px 1469px #fff, 854px 825px #fff, 172px 1391px #fff,
    904px 518px #fff, 1755px 1119px #fff, 1885px 1740px #fff, 1767px 99px #fff,
    1629px 526px #fff, 856px 740px #fff, 1377px 1651px #fff, 1546px 1144px #fff,
    1379px 1093px #fff, 1466px 1871px #fff, 1675px 327px #fff, 1407px 195px #fff,
    1579px 562px #fff, 1592px 151px #fff, 1949px 1319px #fff, 1765px 1717px #fff,
    506px 1159px #fff, 128px 1183px #fff, 165px 1212px #fff, 1397px 1359px #fff,
    738px 1817px #fff, 1213px 870px #fff, 22px 240px #fff, 951px 745px #fff,
    785px 121px #fff, 185px 1094px #fff, 87px 297px #fff, 450px 276px #fff,
    944px 239px #fff, 1919px 1165px #fff, 1614px 220px #fff, 504px 1364px #fff,
    1702px 1772px #fff, 1451px 161px #fff, 1587px 707px #fff, 392px 1158px #fff,
    1914px 1564px #fff, 511px 1806px #fff, 1733px 1346px #fff,
    1529px 1018px #fff, 723px 185px #fff, 996px 1840px #fff, 1428px 309px #fff,
    1092px 69px #fff, 531px 371px #fff, 188px 73px #fff, 1760px 1436px #fff,
    346px 1140px #fff, 255px 605px #fff, 110px 1114px #fff, 1482px 99px #fff,
    537px 377px #fff, 588px 193px #fff, 965px 1520px #fff, 1168px 616px #fff,
    183px 1685px #fff, 350px 955px #fff, 1153px 1721px #fff, 1269px 463px #fff,
    147px 1399px #fff, 1206px 835px #fff, 1861px 562px #fff, 575px 432px #fff,
    143px 10px #fff, 1700px 1147px #fff, 633px 1361px #fff, 263px 1740px #fff,
    848px 1318px #fff, 69px 1970px #fff, 608px 1290px #fff, 533px 487px #fff,
    1608px 1781px #fff, 171px 67px #fff, 1322px 1278px #fff, 231px 845px #fff,
    1823px 1731px #fff, 1264px 409px #fff, 1521px 1886px #fff, 663px 728px #fff,
    1328px 518px #fff, 1624px 431px #fff, 1029px 505px #fff, 330px 1051px #fff,
    1354px 1760px #fff, 1507px 1607px #fff, 352px 945px #fff, 1593px 1732px #fff,
    488px 1839px #fff, 1536px 1694px #fff, 905px 1334px #fff, 28px 1014px #fff,
    1549px 828px #fff, 458px 1475px #fff, 30px 77px #fff, 1096px 1251px #fff,
    1452px 1300px #fff, 1323px 304px #fff, 1867px 716px #fff, 760px 1418px #fff,
    1945px 1652px #fff, 269px 449px #fff, 1253px 1703px #fff, 187px 774px #fff,
    145px 370px #fff, 1793px 958px #fff, 777px 139px #fff, 435px 1198px #fff,
    1077px 1764px #fff, 1886px 171px #fff, 813px 1256px #fff, 254px 190px #fff,
    18px 751px #fff, 812px 1052px #fff, 1010px 71px #fff, 966px 1129px #fff,
    26px 229px #fff, 1560px 9px #fff, 1314px 336px #fff, 1183px 628px #fff,
    1508px 1337px #fff, 941px 1930px #fff, 1587px 592px #fff, 1706px 719px #fff,
    1726px 1913px #fff, 489px 1201px #fff, 1497px 1113px #fff, 1334px 112px #fff,
    733px 1116px #fff, 923px 623px #fff, 1553px 828px #fff, 582px 1550px #fff,
    949px 1938px #fff, 448px 500px #fff, 679px 372px #fff, 477px 319px #fff,
    1233px 233px #fff, 128px 793px #fff, 1525px 1995px #fff, 516px 1885px #fff,
    1522px 1836px #fff, 735px 96px #fff, 117px 1941px #fff, 1431px 1556px #fff,
    1959px 999px #fff, 1054px 992px #fff, 1673px 1166px #fff, 343px 1556px #fff,
    656px 500px #fff, 908px 449px #fff, 1713px 1179px #fff, 1163px 593px #fff,
    254px 1401px #fff, 1357px 1244px #fff, 1953px 1526px #fff, 546px 503px #fff,
    315px 1330px #fff, 1629px 598px #fff, 1743px 1335px #fff, 788px 1040px #fff,
    135px 873px #fff, 774px 1646px #fff, 596px 272px #fff, 604px 1820px #fff,
    372px 787px #fff, 1930px 1639px #fff;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1805px 1296px #fff, 1772px 1662px #fff, 1204px 254px #fff,
    1364px 146px #fff, 280px 1385px #fff, 562px 417px #fff, 184px 1713px #fff,
    860px 1831px #fff, 1549px 260px #fff, 1178px 77px #fff, 1306px 1839px #fff,
    1601px 502px #fff, 831px 474px #fff, 678px 565px #fff, 1781px 783px #fff,
    1195px 709px #fff, 486px 835px #fff, 1650px 1430px #fff, 1891px 1379px #fff,
    1877px 12px #fff, 1635px 2px #fff, 763px 1468px #fff, 296px 1368px #fff,
    1983px 1618px #fff, 929px 1078px #fff, 1719px 1169px #fff, 948px 1951px #fff,
    1734px 991px #fff, 1819px 654px #fff, 295px 1998px #fff, 518px 863px #fff,
    941px 1987px #fff, 1340px 1299px #fff, 554px 1497px #fff, 1415px 1993px #fff,
    790px 1671px #fff, 894px 1351px #fff, 13px 1035px #fff, 1017px 41px #fff,
    1408px 639px #fff, 619px 1645px #fff, 233px 315px #fff, 1508px 349px #fff,
    1173px 70px #fff, 1733px 221px #fff, 601px 643px #fff, 198px 1547px #fff,
    721px 1048px #fff, 445px 1436px #fff, 597px 790px #fff, 256px 1051px #fff,
    126px 515px #fff, 1965px 525px #fff, 818px 134px #fff, 573px 1721px #fff,
    1902px 808px #fff, 1040px 458px #fff, 1319px 1993px #fff, 1153px 48px #fff,
    150px 201px #fff, 1384px 1677px #fff, 635px 167px #fff, 1522px 1312px #fff,
    1241px 1191px #fff, 378px 150px #fff, 1333px 72px #fff, 1978px 17px #fff,
    465px 79px #fff, 146px 1990px #fff, 90px 1702px #fff, 1944px 289px #fff,
    735px 945px #fff, 1461px 162px #fff, 111px 570px #fff, 247px 488px #fff,
    711px 799px #fff, 1436px 307px #fff, 880px 1361px #fff, 1842px 274px #fff,
    623px 1188px #fff, 872px 1661px #fff, 1751px 1266px #fff, 107px 1271px #fff,
    648px 1668px #fff, 244px 331px #fff, 1295px 1931px #fff, 524px 429px #fff,
    903px 50px #fff, 245px 857px #fff, 519px 1547px #fff, 1003px 150px #fff,
    1444px 1950px #fff, 1160px 1219px #fff, 357px 1097px #fff, 456px 1474px #fff,
    1709px 1737px #fff, 1085px 646px #fff, 1483px 542px #fff, 1149px 426px #fff,
    1721px 635px #fff;
  animation: animStar 150s linear infinite;
}
.stars3:after {
  content: " ";
  position: absolute;
  top: 400px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1805px 1296px #fff, 1772px 1662px #fff, 1204px 254px #fff,
    1364px 146px #fff, 280px 1385px #fff, 562px 417px #fff, 184px 1713px #fff,
    860px 1831px #fff, 1549px 260px #fff, 1178px 77px #fff, 1306px 1839px #fff,
    1601px 502px #fff, 831px 474px #fff, 678px 565px #fff, 1781px 783px #fff,
    1195px 709px #fff, 486px 835px #fff, 1650px 1430px #fff, 1891px 1379px #fff,
    1877px 12px #fff, 1635px 2px #fff, 763px 1468px #fff, 296px 1368px #fff,
    1983px 1618px #fff, 929px 1078px #fff, 1719px 1169px #fff, 948px 1951px #fff,
    1734px 991px #fff, 1819px 654px #fff, 295px 1998px #fff, 518px 863px #fff,
    941px 1987px #fff, 1340px 1299px #fff, 554px 1497px #fff, 1415px 1993px #fff,
    790px 1671px #fff, 894px 1351px #fff, 13px 1035px #fff, 1017px 41px #fff,
    1408px 639px #fff, 619px 1645px #fff, 233px 315px #fff, 1508px 349px #fff,
    1173px 70px #fff, 1733px 221px #fff, 601px 643px #fff, 198px 1547px #fff,
    721px 1048px #fff, 445px 1436px #fff, 597px 790px #fff, 256px 1051px #fff,
    126px 515px #fff, 1965px 525px #fff, 818px 134px #fff, 573px 1721px #fff,
    1902px 808px #fff, 1040px 458px #fff, 1319px 1993px #fff, 1153px 48px #fff,
    150px 201px #fff, 1384px 1677px #fff, 635px 167px #fff, 1522px 1312px #fff,
    1241px 1191px #fff, 378px 150px #fff, 1333px 72px #fff, 1978px 17px #fff,
    465px 79px #fff, 146px 1990px #fff, 90px 1702px #fff, 1944px 289px #fff,
    735px 945px #fff, 1461px 162px #fff, 111px 570px #fff, 247px 488px #fff,
    711px 799px #fff, 1436px 307px #fff, 880px 1361px #fff, 1842px 274px #fff,
    623px 1188px #fff, 872px 1661px #fff, 1751px 1266px #fff, 107px 1271px #fff,
    648px 1668px #fff, 244px 331px #fff, 1295px 1931px #fff, 524px 429px #fff,
    903px 50px #fff, 245px 857px #fff, 519px 1547px #fff, 1003px 150px #fff,
    1444px 1950px #fff, 1160px 1219px #fff, 357px 1097px #fff, 456px 1474px #fff,
    1709px 1737px #fff, 1085px 646px #fff, 1483px 542px #fff, 1149px 426px #fff,
    1721px 635px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-400px);
  }
}
